# GLOBAL
pandas
numpy
sqlalchemy
pymysql
pydantic
pydantic_settings
alembic

# SCRAPER-B3
cloudscraper
tenacity
apscheduler
pytz

# STOCKS-API
fastapi
fastapi_mcp
uvicorn
pyarrow
orjson
requests

# PROMETHEUS
sentence-transformers
huggingface-hub
fastmcp
google-genai

# USER
slowapi
fastapi-sso
bcrypt
PyJWT
itsdangerous
