# GLOBAL
pandas
numpy
sqlalchemy
pymysql
pydantic
pydantic_settings
alembic

# SCRAPER-B3
cloudscraper
tenacity
apscheduler
pytz
lxml

# STOCKS-API
fastapi
uvicorn[standard]
orjson
requests

# PROMETHEUS
google-genai

# USER
slowapi
fastapi-sso
bcrypt
PyJWT
itsdangerous